source https://www.nuget.org/api/v2
storage:none

clitool dotnet-fable 1.2.4
nuget Fable.Core 1.2.4
nuget Fable.Import.Node 0.1.5
nuget Fable.Import.Browser 0.1.2


github ionide/ionide-vscode-helpers src/Fable.Import.VSCode.fs
github ionide/ionide-vscode-helpers src/Helpers.fs
github ionide/ionide-vscode-helpers src/Fable.Import.Axios.fs


git https://github.com/Krzysztof-Cieslak/Neptune.git master build:"build.cmd Publish", OS: windows
git https://github.com/Krzysztof-Cieslak/Neptune.git master build:"build.sh Publish", OS: mono
git https://github.com/Krzysztof-Cieslak/Neptune-vstest.git master build:"build.cmd Publish", OS: windows
git https://github.com/Krzysztof-Cieslak/Neptune-vstest.git master build:"build.sh Publish", OS: mono


group build
    source https://www.nuget.org/api/v2

    nuget Fake